.venv/
.env
.env.*
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.vscode/
*.log
dist/
build/
node_modules/
.next/
*.sqlite3
.pnp
.pnp.*
.yarn/*
.next/
out/
coverage/
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo